[user]
  name = Travis Hoover
  email = thoov7@gmail.com
[alias]
  st = status
  co = checkout
[core]
  editor = nvim
[includeIf "gitdir:~/code/@linkedin/"]
  path = .gitconfig-linkedin
[merge]
  tool = opendiff
	conflictstyle = diff3
[log]
  date = local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[safe]
	directory = /usr/local/linkedin/Homebrew/Library/Taps/epe.clientengineering/homebrew-brewin
	directory = /usr/local/linkedin/Homebrew/Library/Taps/epe.clientengineering/homebrew-engtools-core
	directory = /usr/local/linkedin/Homebrew
